body{
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: black;
    padding: 30px;
    border-radius: 150px;
    margin-top: 50px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}

.signal{
    width: 100px;
    height: 100px;
    background-color: rgb(65, 65, 65);
    border-radius: 50%;
    margin: 20px;
   
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.pole{
    width: 50px;
    height: 400px;
    background-color: black;
    position:absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}